#loaderText {
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 40px;
  color: #4e89bd;
}

#progressBarContainer {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  position: relative;
}

.progressbar-text {
  font-weight: bold;
}

#chartLabel {
  text-align: center;
  font-family: sans-serif;
  display: none;
  margin-top: 0px;
  font-size: 20px;
}

#buttonContainer {
  margin: 0px auto;
  text-align: center;
  display: none;
  padding: 10px;
}

p#chartLabel b {
  margin-left: 15px;
}

button.plotButton {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: #b4daac;
}